<div class="navbar-container">
  <ul class="navbar-container__ul">
    <li>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">
        Show Tasks</a>
    </li>
    <li>
      <a
        routerLink="add-task"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">
        Add Task
        </a>
    </li>
    <li>
      <a
        routerLink="update-task"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page">
        Update Task
        </a>
    </li>
    
  </ul>
</div>
<router-outlet></router-outlet>